*{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
      font-weight: weight;
    font-style: normal; 
} 
.bg-dark.header {
   position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; 
   width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
} 

.btn-donate {
    background-color: white;
    color: rgb(223, 115, 14);           
    width: 130px;            
    height: 40px;             
    border-radius: 5px;     
  
    transition: background-color 0.3s ease;
    border: 2px solid rgb(207, 79, 29); 
  }
  .btn:hover {
    background-color: rgb(240, 77, 12);     
   color: white;               
    border-color: rgb(226, 98, 12);        
   }


   /* General button styles */
.nav-button {
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: orange;
  }

   .news-cards-container {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
  }
  
  .card {
    display: flex;
    max-width: 540px;
    width: 100%;
  }
   
  .text:hover {
    background-color: rgb(228, 87, 32);
    color: white;
    transition: color 0.3s ease;
  }
  
  .icon {
    color: #0f1114; 
    transition: color 0.3s ease;
  }
  
  .icon:hover {
    background-color: rgb(228, 87, 32);
    color: white; 
  }


   .btn-outline {
    border-color: #fa6f1c;
    color: #fa6f1c;
  }
  
  .btn-outline:hover {
    background-color: #fa6f1c; 
    color: #fff; 
  }

  .d1{
    width: 100% !important;
    height: 220px !important;
    position: relative;
    background: url(./assests/main-image-3.jpg)
      no-repeat;
    background-position: center !important;
    background-size: cover !important;
  }
  .text-1{
    position: absolute;
    top: 4em;
    padding: 2em;
  }